body{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}

.table {
    margin-top: 25px;
    font-size: 16px;
}

.ticket-status-open {
    font-weight: bold;
    color: #ff5b58;
}

.ticket-status-closed {
    font-weight: bold;
    color: #3b7331;
}

.table-names{
    font-size: 16px;
    font-weight: bold;
    color: #16a085;
}
