{% extends 'admin/base.html.twig' %}

{% block title %}Ateliery | Главная{% endblock %}

{% block body %}
    <div class="container">
        <h3>Добро пожаловать, {{ app.user.firstName }}</h3>
    </div>

{% endblock %}