{% extends 'site/site_base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}

{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-success"><i class="material-icons">check</i></button>
{{ form_end(form) }}

{% endblock %}