{% extends 'admin/base.html.twig' %}

{% block title %}Добавление тикета{% endblock %}

{% block body %}

    <h1>Создание нового тикета</h1>

    {{ include('admin/ticket/_form.html.twig') }}

{% endblock %}